<div class="table-responsive">
  <table class="table table-striped " >
    <caption>List of Students</caption>
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Adhar</th>
        <th scope="col">Contact No.</th>
        <th scope="col">Address</th>
        <th scope="col">State</th>
        <th scope="col">City</th>
        <th scope="col">Zip Code</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let student of students">
        <th scope="row">{{student.id}}</th>
        <td>{{student.name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.adharNo}}</td>
        <td>{{student.contactNo}}</td>
        <td>{{student.address}}</td>
        <td>{{student.state}}</td>
        <td>{{student.city}}</td>
        <td>{{student.pinCode}}</td>

      </tr>
    </tbody>
  </table>
</div>